@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Jua&family=Noto+Serif+KR&display=swap');

header {
    font-weight: 800;
    font-size: 100px;
    margin: 50px;
    font-family: "Hahmlet", serif;
}